
@{
    ViewData["Title"] = "Hello";
}

<br />
<ul>
    <li>
        <h4>
            <a href="/Quiz/quiz">Quiz</a>
        </h4>
    </li>
    <li>
        <h4>
            <a href="/Quiz/quizResult">Quiz Results</a>
        </h4>
    </li>
</ul>

